html, body {
    font-family: 'Open Sans', arial, sans-serif;
    background-color: #11469b;
    color: white;
}

.button {
    font-weight: bold;
    font-size: 16px;
    padding: 10px 30px;
    text-decoration: none;
    background: #40babd;
    border: 1px solid #40babd;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* ======= Main Section ======= */

#main {
    background-image: url('../img/fon1_2.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 6px;
    height: 540px;
    position: relative;
    padding-top: 1px;
}

/*#image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

#screen1 {
    float: right;
    height: 460px;
}*/

#heading {
    padding: 100px 0px 0px 50px;
    font-size: 27px;
}

#dis {
    padding: 0px 0px 0px 50px;
    font-size: 18px;
}

#download {
    padding: 0px 0px 0px 50px;
    font-size: 22px;
}

#btn1 {
    margin-left: 50px;
}

#btn2 {
    margin-left: 15px;
}

/* ======= Contacts Section ======= */

#contacts {
    background-image: url('../img/fon2.png');
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
    color: white;
    height: 145px;
}

#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}

#contacts img:hover {
    opacity: 0.8;
}
